@inject IOptionsSnapshot<SiteSettings> settings
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @settings.Value.Name</title>
    <link rel="stylesheet" href="~/css/lux.min.css" />
    <link rel="stylesheet" href="~/css/layout.css" />
    @RenderSection("Head", required: false)

    <style>
    </style>
</head>
<body class="bg-primary">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top">
        <a class="navbar-brand" href="~/">@settings.Value.Name</a>
        <a class="nav-link" href="~/blog">Blog <span class="sr-only">(current)</span></a>

        @if (User.Identity.IsAuthenticated)
        {
            <a class="nav-link" href="~/settings">Settings</a>
        }
    </nav>

    @RenderBody()

</body>
</html>